$text:              #121212;

$greyExtraLight:    #faf8f5;
$greyLight:         #edeeec;
$grey:              #bebfbb;


$blue:              #c4e8f7;
$green:             #b8ddbe;
$yellow:            #fdbc4b;
$red:               #fd794b;
$black:             #383c47;