$text:              #121212;

$greyExtraLight:     #faf8f5;
$greyLight:          #edeeec;
$grey:               #bebfbb;
$white:              #ececec;


$blue:               #c4e8f7;
$green:              #b8ddbe;
$yellow:             #fdbc4b;
$red:                #fd794b;
$black:              #383c47;


$break-xs:            375px;
$break-s:             480px;
$break-m:             768px;
$break-l:             900px;
$break-xl:           1100px;
$break-xxl:          1400px;