$text:              #121212;

$grey-extralight:   #faf8f5;
$grey-light:        #edeeec;
$grey:              #bebfbb;


$blue:              #c4e8f7;
$green:             #b8ddbe;
$yellow:            #fdbc4b;
$red:               #fd794b;
$black:             #383c47;