html(lang='en')  
    head  
        title="Mobile Test"
        link(rel="stylesheet", type="text/css", href="/css/desktop.css")
        script(type="text/javascript", src="/js/vendor/jquery.min.js")
        script(type="text/javascript", src="/js/Brush.js")
        script(type="text/javascript", src="/js/Helpers.js")
        script(type="text/javascript", src="/js/Desktop/sketchpad.js")
        script(type="text/javascript", src="/js/Desktop/Desktop.js")
        script(type="text/javascript", src="/js/Desktop/Desktop.Socket.js")
        script(type="text/javascript", src="/js/Desktop/Desktop.Interface.js")
        script(type="text/javascript", src="/js/Desktop/Desktop.Data.js")
        script(type="text/javascript", src="/socket.io/socket.io.js")
body(class="desktop")
    div(class="canvas-container")
        canvas(id="canvas")
        div(id="brush-anchor")
            div(id="brush-circle",class="bg--blue")
    div(id="data")
        div(class="data-item data-item--gamma")
            div(class="data-value") 0.02353045
            div(class="data-label") Gamma
        div(class="data-item data-item--beta")
            div(class="data-value") 45.8798566
            div(class="data-label") Beta
        div(class="data-item data-item--alpha")
            div(class="data-value") 1.89989994
            div(class="data-label") Alpha
        div(class="data-item data-item--vaccel")
            div(class="data-value") 100
            div(class="data-label") Vaccel
    div(class="setup-container")
        div(class="setup-wrapper")
            h1(class="setup-title") drawmote
            div(class="setup-text") Please open this website on your smartphone and enter the following code
            div(class="setup-code")