html(lang='en')  
    head  
        title="Mobile Test"
        link(rel="stylesheet", type="text/css", href="/css/mobile.css")
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        script(type="text/javascript", src="/js/general.js")
        script(type="text/javascript", src="/js/mobile.js")
        script(type="text/javascript", src="/js/mobile-data.js")
        script(type="text/javascript", src="/socket.io/socket.io.js")
body(class="mobile",data-id=id)
    div(class="mobile-container")
        div(id="brush-container")
            div(id="brush-circle",class="bg--blue")
        div(class="debug")
            <span class="count">0</span> <span class="sent">messages sent.</span>
        div(class="size-container")
            input(type="range",name="size",class="size-input",min="10",max="200")
        div(class="colors-container")
            form(class="colors-form")
                fieldset(class="colors-fieldset")
                    ul(class="colors-list")
                        li(class="color-item")
                            input(type="radio",name="color",class="color-input color-input--lightgrey bg--lightgrey",value="lightgrey",checked)
                        li(class="color-item")
                            input(type="radio",name="color",class="color-input color-input--blue bg--blue",value="blue",checked)
                        li(class="color-item")
                            input(type="radio",name="color",class="color-input color-input--green bg--green",value="green")
                        li(class="color-item")
                            input(type="radio",name="color",class="color-input color-input--yellow bg--yellow",value="yellow")
                        li(class="color-item")
                            input(type="radio",name="color",class="color-input color-input--red bg--red",value="red")
                        li(class="color-item")
                            input(type="radio",name="color",class="color-input color-input--black bg--black",value="black")
