html(lang='en')  
    head  
        title="Mobile Test"
        link(rel="stylesheet", type="text/css", href="/css/mobile.css")
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        script(type="text/javascript", src="/js/vendor/jquery.min.js")
        script(type="text/javascript", src="/js/Brush.js")
        script(type="text/javascript", src="/js/Helpers.js")
        script(type="text/javascript", src="/js/Mobile/gyro.js")
        script(type="text/javascript", src="/js/Mobile/Mobile.js?72431")
        script(type="text/javascript", src="/js/Mobile/Mobile.Data.js?71814")
        script(type="text/javascript", src="/js/Mobile/Mobile.Interface.js?71814")
        script(type="text/javascript", src="/js/Mobile/Mobile.Socket.js?72834")
        script(type="text/javascript", src="/socket.io/socket.io.js")
body(class="mobile",data-id=id)
    div(class="mobile-container container-palette")
        div(class="button-container")
            div(class="mobile-button",id="button-primary")
            div(class="mobile-button",id="button-secondary")
                img(src="/images/more.svg")
            
    div(class="mobile-container container-setup")
        div(class="setup-wrapper")
            h1(class="setup-title") drawmote
            div(class="code-container")
                div(class="code-entered")
                    div(class="code-entered-num code-entered-num--1")
                    div(class="code-entered-num code-entered-num--2")
                    div(class="code-entered-num code-entered-num--3")
                    div(class="code-entered-num code-entered-num--4")
                div(class="code-numpad")
                    div(class="code-numpad-num code-numpad-num--1",data-num="1")
                        div(class="code-numpad-num-text") 1
                    div(class="code-numpad-num code-numpad-num--2",data-num="2")
                        div(class="code-numpad-num-text") 2
                    div(class="code-numpad-num code-numpad-num--3",data-num="3")
                        div(class="code-numpad-num-text") 3
                    div(class="code-numpad-num code-numpad-num--4",data-num="4")
                        div(class="code-numpad-num-text") 4
                    div(class="code-numpad-num code-numpad-num--5",data-num="5")
                        div(class="code-numpad-num-text") 5
                    div(class="code-numpad-num code-numpad-num--6",data-num="6")
                        div(class="code-numpad-num-text") 6
                    div(class="code-numpad-num code-numpad-num--7",data-num="7")
                        div(class="code-numpad-num-text") 7
                    div(class="code-numpad-num code-numpad-num--8",data-num="8")
                        div(class="code-numpad-num-text") 8
                    div(class="code-numpad-num code-numpad-num--9",data-num="9")
                        div(class="code-numpad-num-text") 9